1 VERSIONINFO
FILEVERSION 3, 6, 3, 1
PRODUCTVERSION 2, 5, 0, 0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "A.G.Balakhnin aka Fizick, bag@hotmail.ru, http://avisynth.org.ru"
   VALUE "FileDescription", "DeSpot plugin for Avithynth 2.5"
   VALUE "FileVersion", "3.6.3.1"
   VALUE "InternalName", "DeSpot"
   VALUE "LegalCopyright", "(c)2003 K.Atkinson, (c)2003-2009 A.G.Balakhnin"
   VALUE "OriginalFilename", "DeSpot.dll"
   VALUE "ProductName", "DeSpot filter"
   VALUE "ProductVersion", "2.5"
   VALUE "Comments", "Conditional Temporal DeSpotting filter for removing spots and stripes. Licensed under GNU GPL v.2"
  }
 }
}
