/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,9,7,5
 PRODUCTVERSION 1,9,7,5
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "Comments", "Motion estimation and compensation"
            VALUE "CompanyName", "A.G.Balakhnin aka Fizick, fizick@avisynth.org.ru"
            VALUE "FileDescription", "MVTools plugin for AviSynth "
            VALUE "FileVersion", "1, 9, 7, 7"
            VALUE "InternalName", "mvtools"
            VALUE "LegalCopyright", "© 2004-2005 Manao, © 2005-2008 Fizick, © 2008 TSchniede under GNU GPL v2"
            VALUE "OriginalFilename", "mvtools.dll"
            VALUE "ProductName", "mvtools"
            VALUE "ProductVersion", "1, 9, 7, 7"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
